In [1]:
#Importations
import pandas as pd
import numpy as np

data = pd.read_csv('valeursfoncieres-2022.txt', sep='|')
print(data)

C:\Users\pierr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

         Identifiant de document  Reference document  1 Articles CGI  \
0                            NaN                 NaN             NaN
1                            NaN                 NaN             NaN
2                            NaN                 NaN             NaN
3                            NaN                 NaN             NaN
4                            NaN                 NaN             NaN
...                          ...                 ...             ...
3803880                      NaN                 NaN             NaN
3803881                      NaN                 NaN             NaN
3803882                      NaN                 NaN             NaN
3803883                      NaN                 NaN             NaN
3803884                      NaN                 NaN             NaN

         2 Articles CGI  3 Articles CGI  4 Articles CGI  5 Articles CGI  \
0                   NaN             NaN             NaN             NaN
1                   NaN             NaN             NaN             NaN
2                   NaN             NaN             NaN             NaN
3                   NaN             NaN             NaN             NaN
4                   NaN             NaN             NaN             NaN
...                 ...             ...             ...             ...
3803880             NaN             NaN             NaN             NaN
3803881             NaN             NaN             NaN             NaN
3803882             NaN             NaN             NaN             NaN
3803883             NaN             NaN             NaN             NaN
3803884             NaN             NaN             NaN             NaN

         No disposition Date mutation Nature mutation  ...  \
0                     1    03/01/2022           Vente  ...
1                     1    03/01/2022           Vente  ...
2                     1    03/01/2022           Vente  ...
3                     1    03/01/2022           Vente  ...
4                     1    04/01/2022           Vente  ...
...                 ...           ...             ...  ...
3803880               1    30/12/2022           Vente  ...
3803881               1    19/12/2022           Vente  ...
3803882               1    19/12/2022           Vente  ...
3803883               1    30/12/2022           Vente  ...
3803884               1    21/11/2022           Vente  ...

        Surface Carrez du 5eme lot  Nombre de lots Code type local  \
0                              NaN               1             2.0
1                              NaN               0             NaN
2                              NaN               0             NaN
3                              NaN               1             2.0
4                              NaN               0             NaN
...                            ...             ...             ...
3803880                        NaN               1             4.0
3803881                        NaN               2             3.0
3803882                        NaN               2             2.0
3803883                        NaN               1             3.0
3803884                        NaN               1             3.0

                                       Type local Identifiant local  \
0                                     Appartement               NaN
1                                             NaN               NaN
2                                             NaN               NaN
3                                     Appartement               NaN
4                                             NaN               NaN
...                                           ...               ...
3803880  Local industriel. commercial ou assimilé               NaN
3803881                                Dépendance               NaN
3803882                               Appartement               NaN
3803883                                Dépendance               NaN
3803884                                Dépendance               NaN

        Surface reelle bati  Nombre pieces principales Nature culture  \
0                      24.0                        1.0            NaN
1                       NaN                        NaN              S
2                       NaN                        NaN              S
3                     140.0                        3.0            NaN
4                       NaN                        NaN              T
...                     ...                        ...            ...
3803880               327.0                        0.0            NaN
3803881                 0.0                        0.0            NaN
3803882                40.0                        3.0            NaN
3803883                 0.0                        0.0            NaN
3803884                 0.0                        0.0            NaN

        Nature culture speciale  Surface terrain
0                           NaN              NaN
1                           NaN             84.0
2                           NaN             88.0
3                           NaN              NaN
4                           NaN            510.0
...                         ...              ...
3803880                     NaN              NaN
3803881                     NaN              NaN
3803882                     NaN              NaN
3803883                     NaN              NaN
3803884                     NaN              NaN

[3803885 rows x 43 columns]

In [ ]:
from google.colab import files

with open('example.txt', 'w') as f:
  f.write('some content')

files.download('example.txt')

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

In [2]:
#1 à 7, 38, 
data.pop('Identifiant de document')
data.pop('Reference document')
data.pop('1 Articles CGI')
data.pop('2 Articles CGI')
data.pop('3 Articles CGI')
data.pop('4 Articles CGI')
data.pop('5 Articles CGI')
data.pop('Identifiant local')

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
3803880   NaN
3803881   NaN
3803882   NaN
3803883   NaN
3803884   NaN
Name: Identifiant local, Length: 3803885, dtype: float64

In [ ]:
print(data)

In [3]:
print(data['Nature culture speciale'].value_counts())
print('\n')
print(data['No disposition'].value_counts())

POTAG    37160
PARC     16793
PATUR    15578
PIN      10825
FRICH     9670
         ...
ROUI         1
CERCL        1
GLAIS        1
TAMAR        1
EAU          1
Name: Nature culture speciale, Length: 124, dtype: int64


1      3619806
2       157088
3        18501
4         2512
5         1108
        ...
798          1
797          1
796          1
795          1
604          1
Name: No disposition, Length: 1203, dtype: int64

# Première visualisation test



---

--> Volume de ventes (en terme de nombre) en fonction du mois de l'année 2022

In [4]:
#On aura besoin des colonnes "Date de mutation"
viz1 = pd.to_datetime(data['Date mutation'])
#viz1_monthly = viz1.groupby(viz1.dt.month)
#viz1 = viz1.apply(lambda date: [date[:-3] for date in viz1])
print(viz1)

0         2022-03-01
1         2022-03-01
2         2022-03-01
3         2022-03-01
4         2022-04-01
             ...
3803880   2022-12-30
3803881   2022-12-19
3803882   2022-12-19
3803883   2022-12-30
3803884   2022-11-21
Name: Date mutation, Length: 3803885, dtype: datetime64[ns]

In [5]:
data['Valeur fonciere'] = data['Valeur fonciere'].str.replace(',','.')
data['Valeur fonciere'] = data['Valeur fonciere'].astype(float)
print(data['Valeur fonciere'])

#import matplotlib.pyplot as plt
#plt.scatter(data['Valeur fonciere'], viz1)

0            55000.0
1           143000.0
2           143000.0
3           143000.0
4              300.0
             ...
3803880    3500000.0
3803881     525000.0
3803882     525000.0
3803883      15500.0
3803884      30000.0
Name: Valeur fonciere, Length: 3803885, dtype: float64

In [6]:
data['Surface Carrez du 1er lot'] = data['Surface Carrez du 1er lot'].str.replace(',','.')
data['Surface Carrez du 1er lot'] = data['Surface Carrez du 1er lot'].astype(float)
print(data['Surface Carrez du 1er lot'])

0           24.10
1             NaN
2             NaN
3          123.23
4             NaN
            ...
3803880       NaN
3803881     46.65
3803882     46.65
3803883       NaN
3803884       NaN
Name: Surface Carrez du 1er lot, Length: 3803885, dtype: float64

In [7]:
data['Surface Carrez du 2eme lot'] = data['Surface Carrez du 2eme lot'].str.replace(',','.')
data['Surface Carrez du 2eme lot'] = data['Surface Carrez du 2eme lot'].astype(float)
print(data['Surface Carrez du 2eme lot'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
3803880   NaN
3803881   NaN
3803882   NaN
3803883   NaN
3803884   NaN
Name: Surface Carrez du 2eme lot, Length: 3803885, dtype: float64

In [ ]:
data['Surface Carrez du 3eme lot'] = data['Surface Carrez du 3eme lot'].str.replace(',','.')
data['Surface Carrez du 3eme lot'] = data['Surface Carrez du 3eme lot'].astype(float)
print(data['Surface Carrez du 3eme lot'])

In [ ]:
data['Surface Carrez du 4eme lot'] = data['Surface Carrez du 4eme lot'].str.replace(',','.')
data['Surface Carrez du 4eme lot'] = data['Surface Carrez du 4eme lot'].astype(float)
print(data['Surface Carrez du 4eme lot'])

In [ ]:
data['Surface Carrez du 5eme lot'] = data['Surface Carrez du 5eme lot'].str.replace(',','.')
data['Surface Carrez du 5eme lot'] = data['Surface Carrez du 5eme lot'].astype(float)
print(data['Surface Carrez du 5eme lot'])

In [ ]:
print(data)